<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Administración</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('partials/header') %>

  <main class="container">
    <h4 class="center-align">Panel de Administración</h4>

    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s2"><a class="active" href="#users">Users</a></li>
          <li class="tab col s2"><a href="#competitions">Competitions</a></li>
          <li class="tab col s2"><a href="#pencas">Pencas</a></li>
          <li class="tab col s2"><a href="#owners">Owners</a></li>
          <li class="tab col s2"><a href="#settings">Settings</a></li>
        </ul>
      </div>

      <div id="users" class="col s12 tab-content">
        <%- include('admin/partials/users') %>
      </div>
      <div id="competitions" class="col s12 tab-content">
        <%- include('admin/partials/competitions') %>
      </div>
      <div id="pencas" class="col s12 tab-content">
        <%- include('admin/partials/pencas') %>
      </div>
      <div id="owners" class="col s12 tab-content">
        <%- include('admin/partials/owners') %>
      </div>
      <div id="settings" class="col s12 tab-content">
        <%- include('admin/partials/settings') %>
      </div>
    </div>
  </main>

  <%- include('partials/footer') %>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/admin.js"></script>
</body>
</html>
