<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Copa América 2024</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body data-role="<%= user.role %>" data-username="<%= user.username %>">
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="#"><img src="/images/Logo.png" alt="Logo" class="responsive-img"></a>
            </div>
            <div class="user-menu right">
                <a href="#" data-target="info-modal" class="modal-trigger info-icon">
                    <img src="/images/info.png" alt="Info" class="circle responsive-img">
                </a>
                <% if (user.role === 'admin') { %>
                    <a id="reset-matches-btn" class="btn red" style="margin-right: 10px;">Reestablecer Partidos</a>
                <% } %>
                <a class="dropdown-trigger" href="#!" data-target="user-dropdown">
                    <img src="<%= user.avatar ? '/avatar/' + user.username : '/images/avatar.webp' %>" alt="Avatar" class="circle responsive-img">
                </a>
            </div>
            <ul id="user-dropdown" class="dropdown-content">
                <li><a href="#" id="logout-button">Cerrar sesión</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="container">
            <ul class="tabs">
                <li class="tab col s3"><a href="#fixture" class="<%= user.role === 'admin' ? 'active' : '' %>">Fixture</a></li>
                <li class="tab col s3"><a href="#predictions" class="<%= user.role !== 'admin' ? 'active' : '' %>">Predicciones</a></li>
                <li class="tab col s3"><a href="#ranking">Ranking</a></li>
            </ul>
            
            <div id="fixture" class="col s12">
                <div id="matches-list" class="row"></div>
            </div>
            <div id="predictions" class="col s12">
                <div id="predictions-list" class="row"></div>
            </div>
            <div id="ranking" class="col s12">
                <div id="ranking-list" class="row"></div>
            </div>
        </div>
    </main>
    <footer class="page-footer blue darken-3">
        <div class="container center-align">
            <a href="https://www.linkedin.com/in/renzodogliotti/">
                <img src="/images/linkedin.png" alt="LinkedIn" class="responsive-img" style="width: 24px; height: 24px;">
            </a>
            <a href="https://github.com/renzosdd">
                <img src="/images/github.png" alt="GitHub" class="responsive-img" style="width: 24px; height: 24px;">
            </a>
        </div>
    </footer>
    
    <!-- Modal de Información -->
    <div id="info-modal" class="modal">
        <div class="modal-content">
            <h4>Reglas de la Penca</h4>
            <h5>Puntajes</h5>
            <p>
                - Resultado exacto da 4 puntos.
                - Indicar resultado (ganador o empate) da 1 punto.
                - Adivinar la cantidad de goles de uno de los dos equipos da 1 punto adicional.
            </p>
            <h5>Reglas</h5>
            <p>
                - Solo se pueden modificar los resultados hasta media hora antes del partido
                - En los cruces de cuartos de final, semifinal, tercer puesto y final solo se tomara en cuanta los 90 minutos y alargues para los resultados.
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/dashboard.js"></script>
</body>
</html>
